*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 20px;
}

#home {
    display: flex;
    flex-direction: row;
}

.intro {
    width: 50%;
}

.name > h1 {
    font-size: 3.75rem;
    line-height: 1;
}

.nickname {
    color: #2563eb;
}

.title {
    padding: 10px 0px;
}

.title > p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #4b5563;
}

.profile-summary {
    color: #111111;
    font-size: 1.125rem;
    line-height: 1.75rem;
}



.tech-stack{
    color: #000;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 30px 5px 15px 5px;
}

.stack-icons {
    display: flex;
    gap: 15px;
}

.stack-icons > button {
    border: 1px solid;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
}

.html{
    background: #eab308;
}

.css {
    background: #22c55e;
}

.js {
    background: #3b82f6;
}

.feat-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    padding: 15px;
    gap: 20px;
}

.box {
    width: 48%;
    border-radius: 10px;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    border: #111111 solid 1px;
}

.web-dev{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #eceefe;
    gap: 20px;
}

.web-dev > img {
    width: 60px;
    height: 50px;
}

.performance {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #e2f7ec;
    gap: 20px;
}

.performance > img {
    width: 60px;
    height: 50px;
}

.uiux {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    background: #fde7ef;
}

.uiux > img {
    width: 60px;
    height: 50px;
}

.security {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    background: #fdf2dc;
}

.security > img {
    width: 60px;
    height: 50px;
}


.about-title {
    text-align: center;
    padding: 70px 0px 30px 0px;
    font-size: 1.875rem;
    line-height: 2.25rem;    
}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-description {
    width: 50%;
    text-align: center;
}

.about-description > p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #4b5563;
    padding: 0px 0px 30px 0px;
    text-align: left;
}


.skills-btn > button {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    background: #2563eb;
    border-radius: 10px;
    padding: 10px 30px;
    border: 1px solid #2563eb;
}



#skills {
    padding: 100px;
}

.skills-title{
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    padding: 50px;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    padding: 0 20px;
}

.skills-box {
    width: 20%;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skills-box:hover {
    border: 1px solid;
}

.skills-box > img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.skills-box-title {
    font-weight: bold;
    color: #333;
    font-size: 1em;
}

.my-work-btn{
    text-align: center;
    padding: 20px;
}

.my-work-btn > button {
    background: #dbeafe;
    border: 1px solid #dbeafe;
    padding: 10px 15px;
    line-height: 1.25rem;
    font-size: 1rem;
    color: #2e69ec;
    border-radius: 50px;
    font-weight: bolder;
}

.projects-title{
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    color: #9732e3;
}

.work-description{
    text-align: center;
    line-height: inherit;
    padding: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #4b5563;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 15px;
    gap: 20px;
}

.projects-box {
    width: 28%;
    border-radius: 10px;
    height: auto;
    padding: 15px;
}

.projects-box-btm {
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.projects-box > img {
    width: 100%;
    height: 50%;
}

.project-position {
    color: #9732e3;
    padding: 15px 0px;
    font-size: 0.875rem;
}

.projects-box > h3 {
    font-size: 1.5rem;
    padding: 10px 0px;
} 


.projects-box-description {
    color: #4b5563;
    padding: 10px 0px;
    line-height: 1.5rem;
    font-size: 1.10rem;
}

.projects-skill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 10px 0px;
}

.projects-skill > button {
    width: 23%;
    border: 1px ;
    border-radius: 50px;
    padding: 5px;
}

#awards{
    padding: 40px 30px;
}

.awards-title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 40px 0px 40px;
}

.awards-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 850px;
    margin: auto;
    padding: 0px 20px;

}

.awards-box {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.awards-box:hover {
    border: 1px solid #000;
}

.left-content{
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 1;
}

.awards-box > img  {
    width: 60px;
    height: 60px;
    object-fit: contain;
    align-self: center;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}

.right-content > h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 4px;
}

.award-company {
    font-size: 0.9em;
    color: #555;
}

.award-meta {
    font-size: 0.85em;
    color: #666;
    margin-top: 2px;
}

.award-date {
    font-size: 0.9em;
    color: #3b82f6;
    font-weight: bold;
}

#certificates {
    padding: 20px 30px;
}

.certificate-title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 40px;
}

.certificate-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 15px;
    gap: 20px;
    padding: 20px;
}

.certificate-box {
    width: 29%;
    border-radius: 10px;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.certificate-box:hover {
    border: 1px solid #000;
}

.certificate-box > h3 {
    font-size: 1.5rem;
    padding: 10px 0px;
} 

.certificate-platform {
    color: #4b5563;
    padding: 10px 0px;
    line-height: 1.5rem;
    font-size: 1.10rem;
}

.certificate-skill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 10px 0px;
}


.certificate-skill > button {
    width: 30%;
    border: 1px ;
    border-radius: 50px;
    padding: 5px;
    background: #14bc78;
    color: #fff;
}

.certificate-btn {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.certificate-btn:hover {
    border: 1px solid #000;
}

.certificate-btn > button {
    background: none;
    border: none;
}






@media (max-width: 1024px) {
    #home {
        flex-direction: column;
        align-items: center;
    }

    .intro, .feat-box {
        width: 100%;
    }

    .tech-stack {
        font-size: 1.5rem;
        text-align: center;
    }

    .stack-icons {
        justify-content: center;
        margin-bottom: 10px;
    }


    .feat-box > .box {
        width: 48%;
        padding: 10px;
    }
    

    .skills-section {
        width: 100%;
        padding: 0 10px;
    }

    .skills-box {
        width: 30%;
    }

    .projects-box, .certificate-box {
        width: 45%;
    }

    .container {
        padding: 10px;
    }

    .certificate-box {
        width: 42%;    
    }

    .projects {
        flex-direction: row;
    }
}




@media (max-width: 768px) {
    #home {
        padding: 30px;
        text-align: left;
    }

    .name > h1 {
        font-size: 2.25rem; 
    }

    .title > p,
    .profile-summary,
    .work-description,
    .certificate-platform,
    .projects-box-description {
        font-size: 1rem;
    }

    .tech-stack {
        font-size: 1rem;
        text-align: center;
    }

    .feat-box {
        margin-top: 20px;
        width: 100%;
    }

    .feat-box > .box {
        width: 40%;
        padding: 20px;
        margin: auto;
    }

    .stack-icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .stack-icons > button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .skills-box {
        width: 45%; 
    }

    .projects-box,
    .certificate-box {
        width: 100%;
    }

    .skills-section,
    .projects,
    .certificate-section {
        padding: 0;
    }

    .about-description {
        width: 90%;
    }

    .skills-title,
    .projects-title,
    .about-title,
    .certificate-title {
        font-size: 1.5rem;
    }

    .projects-skill > button,
    .certificate-skill > button {
        width: 45%;
    }

    .awards-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-content {
        padding: 10px 0 0 0;
    }

    .projects-box{
        width: 45%;
    }


    .projects {
        flex-direction: row;
    }
}




@media (max-width: 480px) {
    .name > h1 {
        font-size: 2rem;
    }

    .title > p {
        font-size: 1rem;
    }

    .tech-stack {
        font-size: 0.9rem;
    }


    .skills-box {
        width: 45%; 
    }

    .projects-skill > button,
    .certificate-skill > button {
        width: 100%;
    }

    .certificate-title > h2 {
        font-size: 1.5rem;
    }
}


